<!-- Testimonial Section -->
<section class="testimonial">
  <div class="testimonial__content">
    <div class="testimonial__image">
      <img src="assets/images/PhamThanhCong.svg" alt="Mr. Phạm Thành Công">
    </div>
    <div class="testimonial__text">
      <p class="testimonial__quote">Dạy học không chỉ là truyền đạt kiến thức mà còn là tạo ra những trải nghiệm tương tác để học viên khám phá, và phát triển tư duy sáng tạo.</p>
      <div class="testimonial__author">
        <img src="assets/images/logos/nagakawa-small.svg" alt="Nagakawa">
        <p class="vertical-line"></p>
        <div>
          <h4>Mr. Phạm Thành Công</h4>
          <p>Trưởng phòng đào tạo tập đoàn Nagakawa</p>
        </div>
      </div>
    </div>
  </div>
</section>
