<header class="app-header">
  <div class="container">
    <div class="logo">
      <img src="assets/logo.png" alt="Onlec Logo">
    </div>
    <nav>
      <ul>
        <li>
          <a href="#">Để làm gì?</a>
        </li>
        <li>
          <a href="#">Tạo ra cái gì?</a>
        </li>
        <li>
          <a href="#">Chi phí bao nhiêu?</a>
        </li>
        <li>
          <a href="#">Mẫu có sẵn</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
      </ul>
    </nav>
    <div class="actions">
      <button class="btn">Đăng ký</button>
      <button class="btn">Đăng nhập</button>
    </div>
  </div>
</header>
