<div class="header">
  <div class="container">
    <a href="#" class="logo">
      <div class="icon1">
        <img src="assets\images\Group.svg" alt="Logo" />
      </div>
      <div class="logo-text">
        <span class="on">On</span><span class="lec">lec</span>
      </div>
    </a>
    <div class="nav-container">
      <app-navlinks *ngFor="let navContent of navContentList" [navContent]="navContent"></app-navlinks>
    </div>
    <div class="auth-buttons">
      <button class="register-button">Đăng ký</button>
      <button class="login-button">Đăng nhập</button>

    </div>
  </div>
</div>
