<footer class="footer">
  <div class="footer__content">
    <div class="footer__menu">
      <div class="container">
        <a href="#" class="logo">
          <div class="icon1">
            <img src="assets\images\Logo2.svg" alt="Logo" />
          </div>
          <span class="on">On</span><span class="lec">lec</span>
        </a>
      </div>
      <app-footer-navlinks *ngFor="let footernavContent of footernavContentList" [footernavContent]="footernavContent"></app-footer-navlinks>
    </div>
    <div class="footer__cta">
      <p>
        Hôm nay, bạn muốn sáng tạo điều gì ?
        <button class="footer__button">Bắt đầu ngay</button>
      </p>
    </div>

    <div class="footer__bottom">
      <div class="footer__copyright">
        © 2024 Onlec. Đã đăng ký bản quyền
      </div>
      <div class="footer__links">
        <a href="#">Điều khoản điều kiện</a>
        <a href="#">Tuyên bố quyền riêng tư</a>
      </div>
    </div>
  </div>
</footer>
